html, body {
    height: 100%;
}

body{
    margin: 0;
    background: orange;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background: #222;
    color: #fff;
    padding: 12px 0 6px 0;
    text-align: center;
}

footer .row {
    align-items: center;
}

footer h3 {
    color: orange;
    margin: 10px 0 6px 0;
}

ul.xarxes li {
    display: inline-block;
    margin: 0 5px;
}

.avatar {
    border: 4px solid orange;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 6px auto;
}

.product {
    background: white;
    border-radius: 4px;
}

.product img {
    width: 100%;
}

.product-block {
    background: #fff;
    border-radius: 1em;
    padding: 1em;
}

.slider-image {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.table-cart {
    background: #FFF;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 30px;
}

.table-cart img {
    width: 100px !important;
}

.page {
    background: #FFF;
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 30px;
}


